body{
    background-color: #232323;
    margin-left: 0px;
    
}
.navbar-nav{
    text-align: center;
}
.nav-item{
    font-size:20px;
    margin:10px;
}
.container{
    margin-top:120px;
    width:500px;
    height: 500px;
    justify-content: center;
    align-items: center;
    padding: 40px;
    
}
form{
   
}
body div p{
  font-size:35px;
  color:white;
  font-family: 'Kaushan Script', cursive;
  text-decoration: underline;
  text-align: center;
  }
  
  
div label{
    color:white;
}
.btn{
     margin-top:30px;
     position: relative;
     left:130px;
     width:130px; 
     justify-content: center;
     align-items: center;
}
.form-check-label{
    color:white;
    margin-top:20px;
   
}
.form-check-input{
   margin-top:27px;
}
body div div{
    margin-top:40px;
}
.new {
    background-color:#232323;
    border-width: 0;
}
#check{
  color:red;
}